body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.animation-container {
  margin-left: auto;
  max-width: 600px;
  flex-shrink: 0;
}

.col-md {
  padding-top: 80px;
}

.col-md h1 {
  font-weight: 600;
  font-size: 80px;
  color: #03a9f4;
}

.navbar {
  background-color: #1e1e1e;
  height: 70px;
}

.navbar-brand,
.nav-link {
  color: #ffffff;
}

.navbar-toggler-icon {
  background-color: #ffffff;
}

.lead {
  color: #ffffff;
}

.btn-primary {
  background-color: transparent;
  border-color: #03a9f4;
}

.btn-primary:hover {
  background-color: #03a9f4;
  border-color: #03a9f4;
  border-radius: 50px;
  color: #1e1e1e;
}

.nav-link {
  margin-left: 10px;
  width: 100px;
  text-align: center;
  transition: 0.4s;
}

.nav-link:hover {
  color: #03a9f4;
}
